html, body{
    font-family: 'Glory', sans-serif;
    font-size: 1rem;
    height:900%
}

.Gradient{
    background: rgb(199,58,117);
    background: linear-gradient(0deg, rgba(199,58,117,1) 17%, rgba(253,187,45,1) 100%);
}

.page-header{
margin: top rem;
font-size: 1.25rem;
color: rgb(255, 255, 255);
}

.container{
height: 400px;
}

.social-logo{
    height: 50rem;
    width: 50rem;
   
}
